* {
  background-color: #2c2661;
}
h1 {
  color: white;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

button[type='button'] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

pre {
  color: white;
}

hr {
  margin-top: 30px;
}

button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

label {
  color: #fff;
}

input {
  max-width: 600px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  background-color: white;
  outline: none;
}

.submit {
  background-color: #ff3333;
  max-width: 400px;
  width: 100%;
  padding: 20px 0;
  margin-top: 50px;
  border-radius: 10px;
}
